.header {
  justify-content: space-between;
}

.brand {
  text-decoration: none;
  color: #ffffff;
}

.navigation-list {
  padding: 0;
  list-style: none;
  display: flex;
}

.navigation-list__item {
  cursor: pointer;
  margin-right: 15px;
  &:last-child {
    margin-right: 0;
  }
}
