<mat-card>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="email"
        minlength="3"
        placeholder="Email"
        name="email"
        ngModel
        #emailInput="ngModel"
        required
        email>
        <mat-error *ngIf="emailInput.invalid">Please enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        type="password"
        minlength="4"
        placeholder="Password"
        name="password"
        ngModel
        #passwordInput="ngModel"
        required>
        <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
    </mat-form-field>
    <mat-error class="login-error" *ngIf="isAuthenticated == false">Login Failed. Please check your username/password.</mat-error>
    <button mat-raised-button type="submit" color="accent">Log In</button>
  </form>
</mat-card>
