<mat-spinner *ngIf="isLoading; else notLoading"></mat-spinner>
<ng-template #notLoading>
  <div class="cat-details-container">
    <h2 class="cat-details__title">{{ cat.name }} - ${{ cat.price }}</h2>
    <img class="cat-details__image" [src]="cat.imagePath" [alt]="cat.description" />
    <p class="cat-details__description">{{ cat.description }}</p>
    <p class="cat-details__age">Age: {{ cat.age }} </p>
    <p>Weight: {{ cat.weight }}</p>
    <mat-divider *ngIf="userIsAuthenticated"></mat-divider>
    <div *ngIf="userIsAuthenticated && userIsAuthorized" class="cat-details__actions">
      <a   class="cat-details__edit" mat-raised-button color="primary" [routerLink]="['/cats', cat._id, 'edit']">Edit</a>
      <a mat-raised-button color="warn" (click)="onDelete()">Delete</a>
    </div>
  </div>
</ng-template>

