.cat-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

app-cat-item {
  width: 32%;
  margin-right: 15px;
  padding-bottom: 0;
  &:last-child {
    margin-right: 0;
  }
}
