mat-list-item {
  border: 1px solid #3f51b5;
  height: 103px!important;
  margin-bottom: 10px;
}

h2 {
  text-align: center;
}

.mat-list-icon {
  width: 30px!important;
  height: 30px!important;
}

.mat-list-item__remove {
  margin-top: 10px;
}
