<mat-card>
  <img mat-card-image [src]="cat.imagePath" [alt]="cat.name">
  <mat-card-title>{{ cat.name }}</mat-card-title>
  <mat-card-subtitle>Price - ${{ cat.price }}</mat-card-subtitle>
  <mat-card-actions>
    <a color="primary" mat-raised-button [routerLink]="['cats', catId]">View Details</a>
    <a color="accent" mat-raised-button *ngIf="userIsAuthenticated" (click)="onAddToCart()">Add to Cart</a>
  </mat-card-actions>
  <button *ngIf="userIsAuthenticated" class="cat-list-favorite" mat-icon-button color="accent" (click)="onToggleFavorite($event)">
      <mat-icon aria-label="favorite" [ngClass]="{'isFavorite': cat.favoriteCat === 'true'}">favorite</mat-icon>
  </button>
</mat-card>
