.mat-card-image {
  max-height: 200px;
  min-height: 200px;
}

.cat-list-favorite {
  position: absolute;
  top: 0;
  right: 0;
  mat-icon {
    opacity: .25;
  }
  mat-icon.isFavorite {
    opacity: 1;
  }
}

mat-card-actions {
  margin-left: 0;
}
